{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div style='padding-top: 7em; text-align: center'>
      <h1>Boo Sung's Projects</h1>
      <p>This page contains all my ongoing and completed projects. (Descriptions currently still being added)</p>
      <p>You can click on the post cards below or view them over on <a href="https://github.com/boosungkim">GitHub</a> and <a href="https://kaggle.com/boosungkim">Kaggle</a>.</p>
    </div>

    <h2 style='font-size: 35px'>Ongoing Projects</h2>
    <div class="post-feed" style='padding-bottom: 0px'>
      {{#get "posts" filter="tags:[Project-Showcase]+tag:[ongoing-project]" limit="all"}}
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
      {{/get}}
    </div>

    <h2 style='font-size: 35px'>Completed Projects</h2>
    <div class="post-feed" style='padding-bottom: 0px'>
      {{#get "posts" filter="tags:[Project-Showcase]+tag:[completed-project]" limit="all"}}
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
      {{/get}}
    </div>



    <!-- Potentially add categorization for projects in the future -->
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');
        var feedTwo = document.querySelector('.mainpage-title');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            // var trigger = feed.getBoundingClientRect().top + window.scrollY; // trigger - 20
            var trigger = feedTwo.getBoundingClientRect().top + window.scrollY; // trigger - 6
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 6) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}
